<!doctype html>
<html lang="en">
  <head>
    <title>Paige Johnson's Design System</title>
    <link rel="shortcut icon" type="image/png" href="../img/Logo.png"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

<!-- This is the link to the toggle hamburger -->
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>

  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only"></span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
		<div class="p-4 pt-6">
		  <h1><a href="../index.html" class="logo"><img src="../img/logo.png" alt="Logo"></a></h1>

	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="component1.html">Navigation Bars</a>
                </li>
                <li>
                    <a href="component2.html">Footers</a>
                </li>
                <li>
                    <a href="component3.html">Cards</a>
                </li>
                <li>
                    <a href="component4.html">Images</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                 <li>
                    <a href="../patterns/pattern1.html">Homepage</a>
                </li>
                <li>
                    <a href="../patterns/pattern2.html">Work Page</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h1>Images</h1>
              <p>The first set of images included below are headshots in desktop, tablet, and mobile responsive sizes for all screen views. Below this, icons are shown including from start to finish an email icon, LinkedIn icon, GitHub icon, and a hamburger menu.</p>

<br>
              <h4>Headshots</h4>
              <p>
                <img src="../img/Headshot.png" alt="Headshot" width="400" height="400">
                <img src="../img/Headshot.png" alt="Headshot" width="336" height="336">
                <img src="../img/Headshot.png" alt="Headshot" width="173" height="173">
            </p>

<br>
            <h4>Icons</h4>
            <p>
                <img src="../img/Email Icon.svg" alt="Email Icon">
                <img src="../img/LinkedIn Icon.png" alt="LinkedIn Icon">
                <img src="../img/Github Icon.png" alt="Github Icon">
                <img src="../img/Hamburger Menu.svg" alt="Hamburger Menu">

            </p>

<br>

            <h4>Accessibility</h4>
            <p>All images should include an &lt;img src&gt; tag including alt text to show the description of the image. All images should also include a link to an external or internal webpage using &lt;a href&gt;.</p>

<br>

            <h4>Usage</h4>
            <p>The headshot images are used for displaying on the About page in order to put a face to name. The social media icon images are used for linking social media pages. The hamburger menu is used as a navigation bar for mobile screens.</p>

              <!-- Code example - this is what the prism.js and css are for added in this page - replace: all '<' with &lt; and  '>' with &gt; and all quotes with &quot; -->

        <pre class="language-markup"><code>

    &lt;img src="../img/Headshot.png" alt="Headshot" width="400" height="400"&gt;
    
    &lt;img src="../img/Headshot.png" alt="Headshot" width="336" height="336"&gt;
    
    &lt;img src="../img/Headshot.png" alt="Headshot" width="173" height="173"&gt;
    
    &lt;a href="mailto:paigejdesign@gmail.com"&gt;&lt;img src="../img/Email Icon.svg" alt="Email"&gt;&lt;/a&gt;

    &lt;a href="https://www.linkedin.com/in/paigejohnson3347/"&gt;&lt;img src="../img/LinkedIn Icon.png" alt="LinkedIn"&gt;&lt;/a&gt;

    &lt;a href="https://github.com/paigejohnson/"&gt;&lt;img src="../img/Github Icon.png" alt="Github"&gt;&lt;/a&gt;

    &lt;img src="../img/Hamburger Menu.svg" alt="Hamburger Menu"&gt;&lt;/a&gt;


          
            </code>
        </pre><!-- Code example -->
    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>
      <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>