<!doctype html>
<html lang="en">
  <head>
    <title>Paige Johnson's Design System</title>
    <link rel="shortcut icon" type="image/png" href="../img/Logo.png"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

<!-- This is the link to the toggle hamburger -->
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>

  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only"></span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
		<div class="p-4 pt-6">
		  <h1><a href="../index.html" class="logo"><img src="../img/logo.png" alt="Logo"></a></h1>

	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="component1.html">Navigation Bars</a>
                </li>
                <li>
                    <a href="component2.html">Footers</a>
                </li>
                <li>
                    <a href="component3.html">Cards</a>
                </li>
                <li>
                    <a href="component4.html">Images</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                 <li>
                    <a href="../patterns/pattern1.html">Homepage</a>
                </li>
                <li>
                    <a href="../patterns/pattern2.html">Work Page</a>
                </li>
               
              </ul>
	          </li>
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

            <h1>Navigation Bars</h1>
              <p>The navigation bar is included on all pages within this design system so users can easily navigate to different pages including the About, Work, and Contact pages. It will also be responsive and the below images display the Desktop, Tablet, and Mobile views of the navigation bar.</p>

              <h5>Desktop Navigation Bar</h5>
              <p><img src="../img/Desktop NavBar.png" alt="Desktop NavBar" width="1100"></p>

              <h5>Tablet Navigation Bar</h5>
              <p><img src="../img/Tablet NavBar.png" alt="Tablet NavBar"></p>

              <h5>Mobile Navigation Bar</h5>
              <p><img src="../img/Mobile NavBar.png" alt="Mobile NavBar"></p>

              <br>
              <h4>Accessibility</h4>
              <p>In order to ensure accessibility, using link tags for navigation is necessary. Links need to be within an unordered list structure so that a screen reader will read out how many things are in the list to give visually impaired users the most information possible about the contents of the navigation. Use the semantic &lt;nav&gt; tag around the unordered list and links with an ARIA role='navigation' attribute. The color palette should be utilized properly to ensure contrast is high enough for readability.
            </p>

            <br>
              <h4>Usage</h4>
              <p>A navigation bar must be included in all pages created within this design system.</p>


              <!-- Code example - this is what the prism.js and css are for added in this page - replace: all '<' with &lt; and  '>' with &gt; and all quotes with &quot; -->

        <pre class="language-markup"><code>
        <h5>Code Example</h5>
        &lt;nav class="menu"&gt;

             &lt;img src="../img/Logo.png" alt="Logo"&gt;

                 &lt;ul&gt;
                    &lt;li&gt;&lt;a href="index.html"&gt;About&lt;/a&gt;&lt;/li&gt;

                    &lt;li&gt;&lt;a href="work.html"&gt;Work&lt;/a&gt;&lt;/li&gt;

                    &lt;li&gt;&lt;a href="contact.html"&gt;Contact&lt;/a&gt;&lt;/li&gt;

                &lt;/ul&gt;
            &lt;/nav&gt;

            </code>
        </pre><!-- Code example -->
    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>
      <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>